.document-card {
  margin-bottom: 1rem;

  hr {
    margin: 0.86rem 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &__control {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 0.5rem;
      }

      p:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }

    &__combined {
      display: flex;
      flex-direction: row;
    }
  }
}
