.info-card {
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    @media (max-width: 555px) {
      -webkit-line-clamp: 3;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    p {
      background-color: $info-background;
      padding: 3px 8px;
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: $info-circle;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 8px;

        @media (max-width: 530px) {
          width: 6px;
          height: 6px;
          top: 5px;
          left: 5px;
        }
      }
    }
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    & > p {
      margin-right: 2.8125rem;
    }
  }
}
