.document__page {
  &__content {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 5rem;

    h1 {
      margin: 24px 0;
    }
  }

  &__control {
    display: flex;
    gap: 1rem;

    @media (max-width: 920px) {
      flex-direction: column;
    }

    > div {
      width: 50%;
      min-width: 46.875rem;

      @media (max-width: 1250px) {
        min-width: 30rem;
      }

      @media (max-width: 920px) {
        width: 100%;
      }
    }
  }
}
