.document__page {
  &__content {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 5rem;

    h1 {
      margin: 24px 0;
    }
  }

  &__control {
    display: flex;
    gap: 1rem;
  }
}
