.footer {
  background: transparent linear-gradient(90deg, #5a5789 0%, #2d2c45 100%) 0% 0% no-repeat
    padding-box;
  opacity: 1;
  height: 56px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
