$thm-background: #f3f3f3;
$thm-card-background: #ffffff;
$thm-card-boxshadow: #2e2d2c66;
$thm-overlay: rgba(0, 0, 0, 0.5);

//Button
$btn-blue: #3570b2;
$btn-text: #ffffff;
$btn-red: #e65562;
$btn-transparent: #3570b2;

//Inputs
$input-background: #ffffff;
$input-border: #ababab;
$input-placeholder: #d5d5d5;
$input-error: #e65562;
$label-text: #2e2d2c;

//HR
$hr-color: #ededec;

//Info Card
$info-background: #ebf0f5;
$info-circle: #ffaf3e;

//Empty Card
$empty-text: #828180;

//Modal
$modal-background: #fff;
$modal-footer: #f3f3f3;

//Toast
$toast-success-color: #00b98e;
